<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}N_Bank{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% if request.path != '/dashboard' %}
            <a href="/dashboard" class="back-button">← Voltar</a>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>