<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}N_Bank{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="homepage-banner">
                <h2>Área do Cliente</h2>
            </div>
        <p style="text-align:center;">Bem-vindo(a) de volta!</p>
        <nav class="homepage-nav">
            <ul>
                <li><a href="/depositar">Depositar</a></li>
                <li><a href="/transferencia">Transferir</a></li>
                <li><a href="/saldo">Consultar Saldo</a></li>
            </ul>
        </nav>
        <div style="text-align:center; margin-top: 30px;">
            <a href="/logout" class="back-button">Sair</a>
        </div>
    </body>
</html>